@import 'theme.scss';

.title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 34px;
  color: $foreground;
  
  @media screen and (min-width: $layout_breakpoint) {
    font-size: 84px;
  }
}

.text {
  margin-top: 0;
  font-size: 20px;
  text-align: center;
  color: $foreground;

  @media screen and (min-width: $layout_breakpoint) {
    font-size: 24px;
  }
}

.time {
  color: $primary;
}

.register {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  border-width: 0;
  color: $foreground;
  background-color: $primary;
  cursor: pointer;
  opacity: 1;

  &:hover {
    opacity: 0.8;
  }
}



