@import 'theme.scss';

.title {
  margin-bottom: 25px;
  font-size: 28px;
  text-align: center;
  color: $foreground;
  
  @media screen and (min-width: $layout_breakpoint) {
    font-size: 50px;
  }
}

.text {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 14px;
  text-align: center;
  color: $foreground;

  @media screen and (min-width: $layout_breakpoint) {
    font-size: 18px;
  }
}